USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[TRACONTACT] WITH NOCHECK ADD CONSTRAINT [FK_TRACONTACT_CODPROPERTY_TRAPROPERTY_CODPROPERTY] FOREIGN KEY([CODPROPERTY]) REFERENCES [dbo].[TRAPROPERTY] ([CODPROPERTY])
ALTER TABLE [dbo].[TRACONTACT] NOCHECK CONSTRAINT [FK_TRACONTACT_CODPROPERTY_TRAPROPERTY_CODPROPERTY]

ALTER TABLE [dbo].[TRAPHOTO_ALBUM] WITH NOCHECK ADD CONSTRAINT [FK_TRAPHOTO_ALBUM_CODPROPERTY_TRAPROPERTY_CODPROPERTY] FOREIGN KEY([CODPROPERTY]) REFERENCES [dbo].[TRAPROPERTY] ([CODPROPERTY])
ALTER TABLE [dbo].[TRAPHOTO_ALBUM] NOCHECK CONSTRAINT [FK_TRAPHOTO_ALBUM_CODPROPERTY_TRAPROPERTY_CODPROPERTY]

ALTER TABLE [dbo].[TRAPROPERTY] WITH NOCHECK ADD CONSTRAINT [FK_TRAPROPERTY_CODAGENT_TRAAGENT_CODAGENT] FOREIGN KEY([CODAGENT]) REFERENCES [dbo].[TRAAGENT] ([CODAGENT])
ALTER TABLE [dbo].[TRAPROPERTY] NOCHECK CONSTRAINT [FK_TRAPROPERTY_CODAGENT_TRAAGENT_CODAGENT]

ALTER TABLE [dbo].[TRAPROPERTY] WITH NOCHECK ADD CONSTRAINT [FK_TRAPROPERTY_CODCITY_TRACITY_CODCITY] FOREIGN KEY([CODCITY]) REFERENCES [dbo].[TRACITY] ([CODCITY])
ALTER TABLE [dbo].[TRAPROPERTY] NOCHECK CONSTRAINT [FK_TRAPROPERTY_CODCITY_TRACITY_CODCITY]

ALTER TABLE [dbo].[TRACITY] WITH NOCHECK ADD CONSTRAINT [FK_TRACITY_CODCOUNTRY_TRACOUNTRY_CODCOUNTRY] FOREIGN KEY([CODCOUNTRY]) REFERENCES [dbo].[TRACOUNTRY] ([CODCOUNTRY])
ALTER TABLE [dbo].[TRACITY] NOCHECK CONSTRAINT [FK_TRACITY_CODCOUNTRY_TRACOUNTRY_CODCOUNTRY]

GO
