*{traphoto_album}*
GO
USE [W_GnBD]
GO
*{tracontact}*
GO
USE [W_GnBD]
GO
*{traproperty}*
GO
USE [W_GnBD]
GO
*{userauthorization}*
GO
USE [W_GnBD]
GO
*{asyncprocessattachments}*
GO
USE [W_GnBD]
GO
*{asyncprocessargument}*
GO
USE [W_GnBD]
GO
*{tracity}*
GO
USE [W_GnBD]
GO
*{notificationmessage}*
GO
USE [W_GnBD]
GO
*{notificationemailsignature}*
GO
USE [W_GnBD]
GO
*{asyncprocess}*
GO
USE [W_GnBD]
GO
*{userlogin}*
GO
USE [W_GnBD]
GO
*{tramem}*
GO
USE [W_GnBD]
GO
*{tracountry}*
GO
USE [W_GnBD]
GO
*{trabroker}*
USE [W_GnBD]
update [trabroker] set
     [nrofproperties] = + (select isnull(count(*),0) from [traproperty] as source where [trabroker].[codbroker] = source.[codagent] and source.zzstate = 0)
     ,[salesprofit] = + (select isnull(sum(source.[PRICE]),0) from [traproperty] as source where [trabroker].[codbroker] = source.[codagent] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{traagent}*
GO
USE [W_GnBD]
GO
