-- Delete all stored procedures that start with Genio.
-- This is needed because previous changes to the procedure signature keep the old versions active,
-- which can pass unnoticed very easily in existing applications
DECLARE @deleteSql NVARCHAR(MAX) = '';
SELECT @deleteSql += 'DROP PROCEDURE ' + QUOTENAME(SCHEMA_NAME(schema_id)) + '.' + QUOTENAME(name) + ';' + CHAR(13)
FROM sys.procedures
WHERE name LIKE 'genio_%';

USE [W_GnBD]
EXEC sp_executesql @deleteSql;
-----------------------------------------------------------
-- AGENT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AGENT
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de AGENT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- AGENT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AGENT
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de AGENT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AGENT @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for AGENT
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [agent] set
	[Telephone] = COALESCE([agent].[Telephone], 0)
	FROM [traagent] AS [agent]

	WHERE ([agent].[codagent] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- BROKER
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_Broker
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de BROKER
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- BROKER
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_Broker
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de BROKER
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_Broker @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for BROKER
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [broker] set
	[EMAIL] = COALESCE([broker].[EMAIL], ''@agency.com'')
	FROM [trabroker] AS [broker]

	WHERE ([broker].[codbroker] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- COUNTRY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_country
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de COUNTRY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- COUNTRY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_country
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de COUNTRY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_country @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for COUNTRY
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MEM
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MEM
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MEM @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MEM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserLogin
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserLogin
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserLogin @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PSW
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [psw] set
	[ATTEMPTS] = COALESCE([psw].[ATTEMPTS], 0)
 ,	[STATUS] = COALESCE([psw].[STATUS], 0)
	FROM [userlogin] AS [psw]

	WHERE ([psw].[codpsw] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcess
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcess
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcess @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_APR
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_apr] set
	[PERCENTA] = COALESCE([s_apr].[PERCENTA], 0)
	FROM [asyncprocess] AS [s_apr]

	WHERE ([s_apr].[codascpr] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationEmailSignature
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationEmailSignature
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationEmailSignature @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NES
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationMessage
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationMessage
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationMessage @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- CITY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_City
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CITY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- CITY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_City
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CITY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_City @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CITY
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessArgument
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessArgument
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessArgument @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessAttachments
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessAttachments
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessAttachments @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserAuthorization
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserAuthorization
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserAuthorization @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_UA
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_ua] set
	[NIVEL] = COALESCE([s_ua].[NIVEL], 0)
	FROM [userauthorization] AS [s_ua]

	WHERE ([s_ua].[codua] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- PROPERTY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_Property
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PROPERTY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [property]
SET [property].[buildingage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year([property].[date_construction])
FROM [traproperty] AS [property]

 where ([property].[codproperty] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- PROPERTY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_Property
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PROPERTY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [property]
SET [property].[buildingage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year([property].[date_construction])
FROM [traproperty] AS [property]

 where ([property].[codproperty] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_Property @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PROPERTY
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [property] set
	[Price] = COALESCE([property].[Price], 0)
 ,	[BUILDINGAGE] = COALESCE([property].[BUILDINGAGE], 0)
 ,	[GROUNDSIZE] = COALESCE([property].[GROUNDSIZE], 0)
 ,	[FLOORNUMBER] = COALESCE([property].[FLOORNUMBER], 0)
	FROM [traproperty] AS [property]

	WHERE ([property].[codproperty] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- CONTACT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_Contact
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CONTACT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- CONTACT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_Contact
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CONTACT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_Contact @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CONTACT
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [contact] set
	[Date] = COALESCE([contact].[Date], dateadd(dd, datediff(dd,0, getDate()), 0))
 ,	[Phone_contact] = COALESCE([contact].[Phone_contact], 0)
	FROM [tracontact] AS [contact]

	WHERE ([contact].[codcontact] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- PHOTO_ALBUM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_Photo_album
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PHOTO_ALBUM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PHOTO_ALBUM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_Photo_album
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PHOTO_ALBUM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_Photo_album @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PHOTO_ALBUM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
