*{traagent}*
USE [W_GnBD]
GO
*{trabroker}*
USE [W_GnBD]
update [trabroker] set [lastsold] = tmptab1.[price] from [trabroker] inner join (select tmpFromTab.[CODAGENT], max(tmpFromTab.[solddate]) as uData from [traproperty] as tmpFromTab  where zzstate = 0 group by tmpFromTab.[CODAGENT]) as tmptab2 on [trabroker].[codbroker] = tmptab2.[codagent] inner join [traproperty] as tmptab1 on [trabroker].[codbroker] = tmptab1.[codagent] where tmptab1.[solddate] = tmptab2.uData
update [trabroker] set [lastsold] = NULL where not exists(select [src].[codagent] from [traproperty] [src] where [src].[codagent] = [trabroker].[codbroker] and [src].[codagent] is not null and [src].[zzstate] = 0 group by [src].[CODAGENT])
GO
*{tracountry}*
USE [W_GnBD]
GO
*{tramem}*
USE [W_GnBD]
GO
*{userlogin}*
USE [W_GnBD]
GO
*{asyncprocess}*
USE [W_GnBD]
GO
*{notificationemailsignature}*
USE [W_GnBD]
GO
*{notificationmessage}*
USE [W_GnBD]
GO
*{tracity}*
USE [W_GnBD]
GO
*{asyncprocessargument}*
USE [W_GnBD]
GO
*{asyncprocessattachments}*
USE [W_GnBD]
GO
*{userauthorization}*
USE [W_GnBD]
GO
*{traproperty}*
USE [W_GnBD]
GO
*{tracontact}*
USE [W_GnBD]
GO
*{traphoto_album}*
USE [W_GnBD]
GO
